.jumbotron
  %h2 About MindFlowy
  %br/
  %p.lead
    Open source clone of the excellent Workflowy.
    %p
      Created by the folks at:
      %a{:href => "http://www.cuberoot.in"} Cube Root Software
    %p
      The most amazing bootstrap theme
      %a{:href => "https://github.com/kristopolous/BOOTSTRA.386"} BOOTSTRA.386
      by: Chris McKenzie
  %br/
