<div class="jumbotron">
  <h1>MindFlowy</h1>
  <h2>Your Digital Brain</h2>
  <br/>
  <p class="lead">

    Take control by visualizing all your open loops, tasks, and ideas in your Brain.
    <br/>
    MindFLowy is a simple Tool to make nested lists, take notes that allows text to be organized into discrete sections.
  </p>
  <br/>
  <p><a href="#" class="btn btn-primary btn-large">Give it a try!</a> No sign-up required.</p>
</div>


<div id="tree" lang="klingon"
            spellcheck="false">
  <%#= react_component 'TreeView' %>
</div>

