- if user_signed_in?
  #tree{:lang => "klingon", :spellcheck => "false"}
    = react_component 'TreeView'
- else
  .jumbotron
    %h1 MindFlowy
    %h2 Your Digital Brain
    %br/
    %p.lead
      Take control by visualizing all your open loops, tasks, and ideas in your Brain.
      %br/
      MindFlowy is a simple Tool to make nested lists, take notes that allows text to be organized into discrete sections.
    %br/
    %br/
    %p
      = link_to "Give it a try!", guest_registration_path, method: :post, class: "btn btn-primary btn-large"
      No sign-up required.
