#kbd
  .kbd_wrapper
    %h3
      %i.fa.fa-keyboard-o.fa-lg
      Keyboard Shortcuts
    %table.table.table-striped
      %tbody
        %tr
          %th
            %kbd Click
          %th
            an item and start typing
        %tr
          %td
            %kbd Enter
          %td
            add a new item
        %tr
          %td
            %kbd Tab
          %td
            indent
        %tr
          %td
            %kbd Shift+Tab
          %td
            un-indent
        %tr
          %td
            %kbd Up Arrow
          %td
            select item above
        %tr
          %td
            %kbd Down Arrow
          %td
            select item bellow
